.navbar {
  &__user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    &__picture {
      border-radius: 20%;
      max-width: 65px;
    }

    &__name {
      font-size: 14px;
      font-weight: 100;
      margin-top: 15px;
    }
  }

  &__options {
    list-style: none;
    padding-left: 30px;
    margin-top: 70px;
    font-size: 11px;
    text-transform: uppercase;
  }

  &__option {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__icon {
      margin-right: 15px;
      font-size: 14px;
    }

    &.active {
      color: black;
      font-weight: 600;
      border-right: 2px solid black;
    }
  }
}