.sidebar {
  width: 30%;
  height: auto;
  display: flex;
  flex-flow: column;
  padding-top: 45px;
  min-width: 280px;
  padding-left: 20px;

  &__title {
    margin-top: 0px;
    height: 85px;
    font-size: 20px;
    font-weight: 100;
    display: flex;
  }

  &__divisor {
    border: none;
    border-bottom: 1px solid #eaeaf6;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__items {
    overflow-x: auto;
    height: 100%;
    padding-right: 15px;
    height: 95%;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      max-height: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaf6;
    height: 40px;

    input {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: 300;
      background: transparent;
      border: none;
      border-radius: unset;
      color: #7d7d92;
    }

    &__confirm {
      font-size: 20px;
      cursor: pointer;
      color: #898989;
    }
  }
}