@font-face {
  font-family: 'SanFrancisco';
  src: url(../font/thin.ttf);
  font-weight: 100;
  font-display: block;
}

@font-face {
  font-family: 'SanFrancisco';
  src: url(../font/thin.ttf);
  font-weight: 200;
  font-display: block;
}

@font-face {
  font-family: 'SanFrancisco';
  src: url(../font/regular.ttf);
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: 'SanFrancisco';
  src: url(../font/bold.ttf);
  font-weight: bold;
  font-display: block;
}