.message {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-top: 32px;
    overflow: auto;
    margin-bottom: 20px;
    padding-right: 30px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      max-height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 50px;
    }
  }

  &__item {
    background: #dddddd;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 23px;
    width: auto;
    max-width: 45%;
    align-self: flex-start;

    &__date {
      font-size: 9px;
      margin-top: 3px;
      font-weight: 600;
      color: #a8a7a7;
    }

    &__content {
      font-size: 13px;
    }

    &.current {
      align-self: flex-end;
      color: white;
      background-color: #34c48f;

      .message__item__date {
        color: #f0f0f1;
        text-align: right;
      }
    }
  }

  &__input-box {
    display: flex;
    min-height: 55px;
    border-bottom: 1px solid #eaeaf6;
    background: #fff;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 200;
    color: #000000;
    padding: 0 15px;

  }

  &__emoji,
  &__button {
    font-size: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    cursor: pointer;
    color: white;
    background: #00d286;
  }

  &__emoji {
    color: #aeaeae;
    background: unset;
    border: none;
    font-size: 24px;

    &.active {
      color: #00d286;
    }
  }

  &__input-control {
    border: 1px solid #8080801a;
    border-radius: 3px;

    .emoji-mart {
      width: 100% !important;
      border: none;
      border-radius: 0;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }

    .emoji-mart-scroll {
      height: 130px;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        max-height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 50px;
      }
    }
    .emoji-mart-bar:last-child {
      display: none;
    }
  }
}