.form {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #93EDC7 0%, #93EDC7 100%);
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 350px;
    padding-top: 40px;
    background: #fff;
    box-shadow: 8px 8px #00C470, 16px 16px #20D386, 24px 24px #69EAB3;

    input {
      border: unset;
      border-bottom: 1px solid #a8a7a761;
      margin: 2px 0px;
      margin-bottom: 20px;
      font-size: 14px;
      padding: 3px 16px;
      width: 70%;
      box-sizing: border-box;
    }
  }

  &__button {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    height: 30px;
    border: none;
    color: #9E9E9E;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.inverse {
      color: #00cb7b;
      font-size: 11px;
      font-weight: 800;
      padding-bottom: 10px;

    }
  }
}